nav {
    background: #603bbb;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    color: #fff;
}

nav button {
    width: 86px;
    padding: 8px 0;
    border-radius: 20px;
}

button:hover{
    background-color: #573593;
}
