
.playerImg{
    margin-top: 25%;
    height: 50%;
    width: 50%;
    justify-content: center;
    display: flex;
}
.dataContainer{
    color: white;
    margin-top: 3%;
    margin-left: 15%;
    justify-content: center;
}

.player {
    padding: 24px 0;
    position: center;
}
.profile-container{
    background-color: #FEC9AC;
    border-radius: 30px;
    justify-content: center;
    display: flex;
}