@import url('https://fonts.googleapis.com/css?family-Montserrat:400,800');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}


button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #603bbb;
    cursor: pointer;
}

.login {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background-image: url("./images/bg-basketball.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*background: #e9e9e9;*/
    display: flex;
}

.login .loginContainer {
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
            ellipse at left bottom,
            rgba(22, 24, 47, 1) 0%,
            rgba(38, 20, 72, 0.9) 59%,
            rgba(17, 27, 75, 0.9) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
}

.login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
}

.login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
}

.login .loginContainer .btnContainer p span {
    color: yellow;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
    color: red;
}

.login .loginContainer .errorMsg {
    color: red;
    font-size: 16px;
}

.home {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
            ellipse at left bottom,
            /*rgba(22, 24, 47, 1) 0%,*/
            /*rgba(38, 20, 72, 0.9) 59%,*/
            /*rgba(17, 27, 75, 0.9) 100%*/
            rgba(255,255,255, 1) 0%,
            rgba(255,255,255, 0.9) 59%,
            rgba(255,255,255, 0.9) 100%
    );
}
.home2 {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
            ellipse at left bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.9) 59%,
            rgba(255, 255, 255, 0.9) 100%
    );
}


.player {
    padding: 24px 0;
    position: center;
}


.registrationBtn{
    border-radius: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.registrationBtn:active{
    transform: scale(0.95);
}

form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.player-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 20px rgba(0,0,0,0.25);
    position: relative;
    overflow: hidden;
    width: 769px;
    max-width: 100%;
    min-height: 480px;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.registration-container{
    left: 0;
    width: 50%;
    z-index: 2;
}


.overlay {
    background: #603BBBFF;
    background: -webkit-linear-gradient(to right, #261448E5, #603BBBFF);
    background: linear-gradient(to right, #261448E5, #603BBBFF);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: absolute;
    left: 100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right{
    right: 175px;
    transform: translateX(0);
}

.image-upload_preview{
    width: 12rem;
    height: 12rem;
    border: 1px solid #222;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    clip-path: circle(50% at 50% 50%);
}

.image-upload_preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-upload-button{
    color: #ffffff;
    background-color: #222;
    border-color: #ff3633;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    font-size: xxx-large;
}

.image-upload-button:hover{
    background-color: transparent;
    color: #fff;
}

.form-control{
    margin-bottom: 0;
    padding-bottom: 0;
}

.MuiTablePagination-displayedRows{
    color: black;
}

.MuiDataGrid-columnHeadersInner{
    font-weight: 900;
}

.MuiTablePagination-actions{
    color: black;
}

.MuiSvgIcon-root{
    color: black;
}
